body{
    margin: 0;
    padding: 0;
}

.containerJogo{
    padding: 40px 50px;
    color: white;
    background-color: #40534d;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    text-align: left;
    overflow: hidden; 
}

.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: -400px;
    font-size: large;
}

.img {
    width: 40%;
    display: flex;
    justify-content: flex-start;
}

.img img {
    margin-top: 40px;
    max-width: 50%;
    height: auto;
}